html, body {font-family: 'Lato', sans-serif; font-size: 15px; color: #777;}

/************* header-wrapper **********************/
.header-wrapper {position: fixed; z-index: 9999; top: 0; left: 0;  color: #777;
	width: 100%; transition: all .5s;}
.header-wrapper.active {background-color: #fff; color: #000; box-shadow: 0 0 10px rgba(0, 0, 0, .6);
	}
.header-wrapper .navi-wrap {}
.header-wrapper .navi-wrap .navi-wp {float: left;}
.header-wrapper .navi-wrap .search-wp {float: right;}
.header-wrapper .navi-wrap .navi {float: left; padding: 12px 16px;}
.header-wrapper .navi-wrap .navi-wp .navi:hover {background-color: #ddd; color: #000;}
.header-wrapper .navi-wrap .search-wp .navi:hover {background-color: #f31; color: #fff;}

/************* main-wrapper **********************/
.main-wrapper {display: table; width: 100%; height: 100vh; background-image: url('../img/parallax1.jpg');
background-position: center;
background-size: cover;
background-attachment: fixed; opacity: .8;}
.main-wrapper > div {display: table-cell; text-align: center; vertical-align: middle;}
.main-wrapper h1.logo {background-color: #000; color: #fff;
	letter-spacing: 6px; display: inline-block; padding: 12px 16px;}

/************* about-wrapper **********************/
.about-wrapper h4.title {margin-bottom: 24px; text-align: center; font-size: 18px;}
.about-wrapper .info-wrap {margin-bottom: 48px;}
.about-wrapper .info-wrap > div {width: 50%; float: left; padding: 0 16px;}
.about-wrapper .my-wp h4.title .fa {margin-right: 16px;}
.about-wrapper .my-wp .imgs {overflow: hidden;}
.about-wrapper .my-wp img {opacity: .65; transition: all .5s;}
.about-wrapper .my-wp img:hover {opacity: 1; transform: scale(1.2);}
.about-wrapper .story-wp {line-height: 1.75;}
.about-wrapper .skill {margin-bottom: 24px;}
.about-wrapper .skill h5.title {font-size: 16px; letter-spacing: 8px; margin-bottom: 16px;}
.about-wrapper .skill .bars {background-color: #eee;}
.about-wrapper .skill .bars .bar {background-color: #555; color: #fff; text-align: center; padding: 10px;}
.about-wrapper .skill:nth-child(1) .bars .bar {width: 90%;}
.about-wrapper .skill:nth-child(2) .bars .bar {width: 85%;}
.about-wrapper .skill:nth-child(3) .bars .bar {width: 75%;}

/************* pf-wrapper **********************/
.pf-wrapper .prj-wrap {background-color: #555; color: #fff;}
.pf-wrapper .prj-wrap .prj {width: 25%; float: left; text-align: center; padding: 36px 0;}
.pf-wrapper .prj-wrap h3.title {font-style: normal; font-size: 24px; margin-bottom: 16px;}
.pf-wrapper .prj-wrap p.content {margin-bottom: 0;}
.pf-wrapper .title-wrap {background-image: url('../img/parallax2.jpg');}

.pf-wrapper .work-wp {margin-bottom: 36px;}
.pf-wrapper .wrok-wrap h3.title {margin-bottom: 48px;}
.pf-wrapper .work {width: 23%; float: left; margin: 1%; overflow: hidden; border: 1px solid #eee;}
.pf-wrapper .work img {transition: all .5s; opacity: .7;}
.pf-wrapper .work img:hover {transform: scale(1.2); opacity: 1;}
.pf-wrapper .bt-wp {text-align: center;}

/************* contact-wrapper **********************/
.contact-wrapper .title-wrap {background-image: url('../img/parallax3.jpg');}

.contact-wrapper h3.title {margin-bottom: 48px;}
.contact-wrapper .map-wp {width: 30%; float: left;} 
.contact-wrapper .map-wp img {border-radius: 6px;} 
.contact-wrapper .info-wp {width: 70%; float: left; padding-left: 36px;} 
.contact-wrapper .info-wp .infos {padding: 16px 0;} 
.contact-wrapper .info-wp .infos .info {font-size: 18px; line-height: 2;} 
.contact-wrapper .info-wp .infos .info .fa {width: 36px;} 
.contact-wrapper .info-wp h4.title {margin-bottom: 24px;} 
.contact-wrapper .info-wp form > input {margin-bottom: 8px;}
.contact-wrapper .info-wp form > :nth-child(1) {float: left; width: 49%;}
.contact-wrapper .info-wp form > :nth-child(2) {float: right; width: 49%;}
.contact-wrapper .info-wp form > :nth-child(3) {width: 100%;}
.contact-wrapper .info-wp form > :nth-child(4) {float: right;}

/************* footer-wrapper **********************/
.footer-wrapper {text-align: center; background-color: #000; color: #fff; opacity: .5;}
.footer-wrapper:hover {opacity: 1;}
.footer-wrapper .bt-wrap {margin-bottom: 24px;}
.footer-wrapper .bt-top {display: inline-block;}
.footer-wrapper .sns-wrap {margin-bottom: 24px;}
.footer-wrapper .sns-wrap .sns {display: inline-block; font-size: 20px; margin: 0 4px;}

